{% load  static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    {% if user.is_authenticated %}
    <table class="table table-striped table-bordered table-sm">  
        <thead>  
        <tr>  
            <th class= text>Full Name</th>  
            <th>Father Name</th>  
            <th>Date Of Birth</th>  
            <th>Gender</th>  
            <th>Email</th>
            <th>Address</th>  
            <th>Pincode</th>
            <th>State</th>
            <th>City</th>
            <th>Course</th>
            <th>Skills</th>

        </tr>  
        </thead>  
        <tbody>  
    {% for r in hello %}  
        <tr>  
            <td>{{ r.full_name }}</td>  
            <td>{{ r.father_name }}</td>  
            <td>{{ r.birth_date }}</td>  
            <td>{{ r.gender }}</td>
            <td>{{ r.email }}</td>  
            <td>{{ r.address }}</td>  
            <td>{{ r.pincode }}</td>  
            <td>{{ r.state }}</td>  
            <td>{{ r.eid }}</td>  
            <td>{{ r.city }}</td> 
            <td>{{ r.course }}</td> 
            <td>{{ r.skills }}</td>    
         
        </tr>  
    {% endfor %}  
        </tbody>  
    </table>
    {% endif %}   
</body>
</html>